#layout-supercontainer, #layout-container {
    min-width: 100%;
    min-height: 100vh;
    height: 100vh;
}

#layout-container {
    display: flex;
    flex-flow: column;
}

main, header, footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

main {
    margin-top: 0rem;
    margin-bottom: 0rem;
    background-color: var(--color-white-xparent);
    position: relative;
    overflow-y: auto;
    flex: 1 1 auto;
}

header, footer {
    margin: 0;
    flex: 0 0 auto;
}

header {
    padding: 1rem;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

footer {
    /* margin: auto; */
    bottom: 0;
    font-size: 0.8rem;
}

.layout-row {
    display: flex;
    flex-flow: row wrap;
}
.layout-row > * {
    margin-right: 1ex;
}

.layout-row > *:last-child {
    margin-right: 0;
}

.layout-optimal-width-container {
    position: relative;
}

.layout-header {
    align-items: center;
}

.layout-header > *:last-child {
    margin-left: auto;
}

.layout-abs-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.layout-header-button {
    margin: 0;
}

/* Specific elements */

#layout-logo {
    background-image: url(../../assets/logo/PizzaTime-72x45.png);
    background-repeat: no-repeat;
    width: 72px;
    height: 45px;
}

.layout-header-button {
    border-color: var(--color-light);
    background-color: var(--color-dark);
    color: var(--color-light);
}

@media screen and (max-width: 460px) {
    #layout-logo {
        display: none;
    }
}
